@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic|Roboto:400,700,300,500&subset=latin,cyrillic);

h1 {
  color: $h1-h2-color;
  font-family: $h-font-family;
  font-size: 35px;
  font-weight: 500;
  line-height: 201px;
}

h2 {
  color: $h1-h2-color;
  font-family: $h-font-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 12px;
}

h3 {
  color: $h3-p-color;
  font-family: $h-font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}

p {
  color: $h3-p-color;
  font-family: $h-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    &:visited {
    text-decoration: none;
    color: #000;
    }
  }
}

.flex {
  display: flex;

  flex-flow: row wrap;
  align-items: stretch;
}

.primary-mod {
  background-color: $main-color;
}

