// Size variables
$vw: 1920px;
$b-header-height: rem(800px);

  $nav-wrap-width: rem(1096px);
  $nav-wrap-height: rem(87px);
    $menu-width: rem(507px);

$cutout-height: rem(800px);
$cutout-width: 100%;

  $tagline-box-width: rem(600px);

// Colors, effects

$shadow-filter-img: drop-shadow( 14px 0px 1px rgba( 0, 0, 0, 0.300 ));

// Logo, Navigation blocks

.b-header {
  height: $b-header-height;
  background-color: $header-color;
  justify-content: center;
  align-items: center;
}

.nav-wrap {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: $nav-wrap-width;
  height: $nav-wrap-height;

  @include breakpoint(large){
    width: 95%;
    height: $nav-wrap-height/1.5;
  }
}

.logo {
  margin-top: auto;
  z-index: 1;
}

.menu {
  margin-top: auto;
  margin-left: auto;
  width: $menu-width;
  list-style: none;
  text-transform: uppercase;
  z-index: 1;

  justify-content: space-between;
  &__link {
    color: $menu-font-color;
    font-weight: 400;
    font-size: 14px;
    font-family: $menu-font-family;
    line-height: 12px;
  }
}

// Images cutout, tagline

.tagline {
  position: relative;
  right: 0;
  left: 0;
  z-index: 9999;
  &__up{
    margin: auto;
  }
  &__bot {
    margin: auto;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
  }
}
$headphones-width: 251px;

.headphones {
  position: absolute;
  top: rem(179px);
  left: 0;
  z-index: 1;
  @include width-calc(251px, $vw)
  &__img {
    @include shadow-filter;
    max-width: 100%;
    height: auto;
    }
  }

.glasses {
  position: absolute;
  top: rem(490px);
  left: rem(229px);
  z-index: 1;
  @include width-calc(169px, $vw)
  &__img {
    @include shadow-filter;
    max-width: 100%;
    height: auto;
  }
}

.pencils {
  position: absolute;
  top: rem(663px);
  left: rem(81px);
  z-index: 1;
  @include width-calc(197px, $vw)
  &__img {
    @include shadow-filter;
    max-width: 100%;
    height: auto;
  }
}

.mouse {
  position: absolute;
  top: rem(612px);
  right: rem(240px);
  z-index: 1;
  @include width-calc(79px, $vw)
  &__img {
    @include shadow-filter;
    max-width: 100%;
    height: auto;
  }
}

.pen-holder {
  position: absolute;
  top: rem(469px);
  right: rem(39px);
  z-index: 1;
  @include width-calc(154px, $vw)
  &__img {
    @include shadow-filter;
    max-width: 100%;
    height: auto;
  }
}

.glass {
  position: absolute;
  top: rem(262px);
  right: rem(85px);
  z-index: 2;
  @include width-calc(119px, $vw);
  &__img {
    @include shadow-filter;
    max-width: 100%;
    height: auto;
  }
}

.cork-coaster {
  position: absolute;
  top: rem(280px);
  right: rem(91px);
  z-index: 1;
  @include width-calc(113px, $vw)
  &__img {
    max-width: 100%;
    height: auto;
    filter: 0;
  }
}

.icon-mouse {
  position: absolute;
  top: rem(681px);
  right: 0;
  left: 0;
  margin: auto;
  width: 85px;
  height: 66px;

  text-align: center;
  &__text {
    display: block;
    padding-top: 15px;
    color: #e84c3d;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans;
  }
}

