// Size variables
$b-main-height: rem(1357px);
$b-main-width: rem(1366px);

$b-main-padding-top-bot: rem(100px) 0 rem(100px) 0;

$content-top-height: auto;
$content-top-width: percentage(986px/1366px);

$graxpo-height: rem(309px);
$graxpo-width: rem(454px);

$button-height: 163px;
$button-width: 43px;

$template-width: rem(444px);

$content-bot-height: rem(693px);
$content-bot-width: percentage(1089px/1366px);
//box
$content-bot-box-height: rem(237px);
$content-bot-box-width: percentage(529px/1089px);
$content-bot-box-border: 3px solid #ebebeb;
$content-bot-box-border-radius: 10px;
$content-bot-box-padding: 30px 34px;
$content-bot-box-margin: 35px;

.main-a {
  height: $b-main-height;
  max-width: $b-main-width;
  box-sizing: border-box;
  padding: $b-main-padding-top-bot;
  justify-content: space-around;
  margin: auto;
}

.content-top {
  height: $content-top-height;
  width: $content-top-width;
  margin: 0 rem(136px);
  justify-content: space-between;
}

.graxpo {
  height: $graxpo-height;
  width: $graxpo-width;

  &__h--seperator:after {
    margin-top: 20px;
    content: "";
    display: block;
    width: 46px;
    border: 1px solid #898989;
  }
  &__text {
    margin-top: 30px;
  }

  &__button {
    height: $button-height;
    width: $button-width;
  }
}

.template {
  width: $template-width;

  &__img {
    width: 100%;
    height: auto;
  }
}

.content-bot {
  height: $content-bot-height;
  width: $content-bot-width;
  justify-content: space-between;
  align-items: center;
}

.what-we {
  text-align: center;
  width: 100%;
  &__h--seperator:after {
    margin: auto;
    margin-top: 20px;
    content: "";
    display: block;
    width: 46px;
    border: 1px solid #898989;
  }
  &__text {
    margin-top: 30px;
  }
}

.box {
  width: $content-bot-box-width;
  height: $content-bot-box-height;
  border: $content-bot-box-border;
  border-radius: $content-bot-box-border-radius;
  padding: $content-bot-box-padding;
  margin-bottom: $content-bot-box-margin;
  box-sizing: border-box;

  @include breakpoint(small) {
    width: auto;
  }
}
