// Size variables
$b-main-height: percentage(1357px/$vw);
$b-main-width: 100%;

$b-main-padding-top-bot: rem(100px) 0 rem(100px) 0;

$content-top-height: rem(566px);
$content-top-width: percentage(986px/1366px);

$graxpo-height: rem(309px);
$graxpo-width: rem(454px);

$button-height: 163px;
$button-weight: 43px;

.b-main {
  height: $b-main-height;
  width: $b-main-width;
  box-sizing: border-box;
  padding: $b-main-padding-top-bot;
  justify-content: center;
}

.content-top {
  height: $content-top-height;
  width: $content-top-width;
  justify-content: space-between;
}

.graxpo {
  height: $graxpo-height;
  width: $graxpo-width;
  &__button {
    height: $button-height;
    width: $button-weight;
  }
}
