/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic|Roboto:400,700,300,500&subset=latin,cyrillic);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* Fonts */
/* Mixins */
h1 {
  color: #333b46;
  font-family: "Roboto", sans-serif;
  font-size: 2.1875rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0; }

h2 {
  color: #333b46;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1em; }

h3 {
  color: #81868e;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700; }

p {
  color: #81868e;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 25px; }

a {
  color: #333b46;
  text-decoration: none;
  transition: .5s; }
  a:hover {
    text-decoration: none;
    color: #81868e; }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.primary-mod {
  background-color: #f3f3f3;
  box-sizing: border-box; }

.b-header {
  height: 50rem;
  background-color: #e1e1e1;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.nav-wrap {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 68.5rem;
  height: 5.4375rem; }
  @media (min-width: 1200px) {
    .nav-wrap {
      width: 95%;
      height: 3.625rem; } }

.logo {
  margin-top: auto;
  z-index: 1; }

.menu {
  margin-top: auto;
  margin-left: auto;
  width: 31.6875rem;
  list-style: none;
  text-transform: uppercase;
  z-index: 1;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .menu__link {
    color: #333b46;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 12px; }

.tagline {
  position: relative;
  right: 0;
  left: 0;
  z-index: 9999; }
  .tagline__up {
    margin: auto; }
  .tagline__bot {
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px; }

.headphones {
  position: absolute;
  top: 11.1875rem;
  left: 0;
  z-index: 1;
  width: 13.07292%; }
  .headphones__img {
    -webkit-filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
    max-width: 100%;
    height: auto; }

.glasses {
  position: absolute;
  top: 30.625rem;
  left: 14.3125rem;
  z-index: 1;
  width: 8.80208%; }
  .glasses__img {
    -webkit-filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
    max-width: 100%;
    height: auto; }

.pencils {
  position: absolute;
  top: 41.4375rem;
  left: 5.0625rem;
  z-index: 1;
  width: 10.26042%; }
  .pencils__img {
    -webkit-filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
    max-width: 100%;
    height: auto; }

.mouse {
  position: absolute;
  top: 38.25rem;
  right: 15rem;
  z-index: 1;
  width: 4.11458%; }
  .mouse__img {
    -webkit-filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
    max-width: 100%;
    height: auto; }

.pen-holder {
  position: absolute;
  top: 29.3125rem;
  right: 2.4375rem;
  z-index: 1;
  width: 8.02083%; }
  .pen-holder__img {
    -webkit-filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
    max-width: 100%;
    height: auto; }

.glass {
  position: absolute;
  top: 16.375rem;
  right: 5.3125rem;
  z-index: 2;
  width: 6.19792%; }
  .glass__img {
    -webkit-filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(14px 0px 1px rgba(0, 0, 0, 0.3));
    max-width: 100%;
    height: auto; }

.cork-coaster {
  position: absolute;
  top: 17.5rem;
  right: 5.6875rem;
  z-index: 1;
  width: 5.88542%; }
  .cork-coaster__img {
    max-width: 100%;
    height: auto;
    -webkit-filter: 0;
            filter: 0; }

.icon-mouse {
  position: absolute;
  top: 42.5625rem;
  right: 0;
  left: 0;
  margin: auto;
  width: 85px;
  height: 66px;
  text-align: center; }
  .icon-mouse__text {
    display: block;
    padding-top: 15px;
    color: #e84c3d;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans; }

.main-a {
  height: 84.8125rem;
  max-width: 85.375rem;
  box-sizing: border-box;
  padding: 6.25rem 0 6.25rem 0;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: auto; }

.content-top {
  height: auto;
  width: 72.18155%;
  margin: 0 8.5rem;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.graxpo {
  height: auto;
  width: 28.375rem; }
  .graxpo__h--seperator:after {
    margin-top: 20px;
    content: "";
    display: block;
    width: 46px;
    border: 1px solid #898989; }
  .graxpo__text {
    margin-top: 30px; }
  .graxpo__button {
    height: 163px;
    width: 43px; }

.template {
  width: 27.75rem; }
  .template__img {
    width: 100%;
    height: auto; }

.content-bot {
  height: auto;
  width: 79.72182%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.what-we {
  text-align: center;
  width: 100%;
  padding-bottom: 1.875rem; }
  .what-we__h--seperator:after {
    margin: auto;
    margin-top: 20px;
    content: "";
    display: block;
    width: 46px;
    border: 1px solid #898989; }
  .what-we__text {
    margin-top: 30px; }

.box {
  width: 48.57668%;
  height: auto;
  border: 3px solid #ebebeb;
  border-radius: 10px;
  padding: 30px 34px;
  margin-bottom: 35px;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .box {
      width: auto; } }

/*# sourceMappingURL=main.css.map */
