// Header, block 1

// Logo, Navigation blocks

.b-header {
  height: $b-header-height;
  background-color: $header-color;
}

.nav-wrap {
  margin-right: auto;
  margin-left: auto;
  width: $nav-wrap-width;
  height: $nav-wrap-height;

  @include breakpoint(large){
    width: 95%;

    height: $nav-wrap-height/1.5;
  }
}

.logo {
  margin-top: auto;
}

.menu {
  flex-direction: row;
  margin-top: auto;
  margin-left: auto;
  width: $menu-width;
  list-style: none;
  text-transform: uppercase;

  justify-content: space-between;
}

