$nav-width: rem(1096px);
$nav-height: rem(87px);
$menu-width: rem(507px);

.b-header {
  height: 799px;
}

.nav-wrap {
  margin-right: auto;
  margin-left: auto;
  width: $nav-width;
  height: $nav-height;

  @include breakpoint(large){
    height: $nav-height/1.5;
    width: 95%;
  }
}

.logo {
  margin-top: auto;
}

.menu {
  flex-direction: row;
  margin-top: auto;
  margin-left: auto;
  width: $menu-width;
  list-style: none;

  justify-content: space-between;
}
