$fa-font-path: '../../build/fonts';

// Breakpoints
$breakpoints: (
  'small'  : ( max-width:  767px ),
  'medium' : ( max-width:  992px ),
  'large'  : ( max-width: 1200px )
);

// Background colors
$main-color: #f3f3f3;
$header-color: #e1e1e1;
$third-color: #e84c3d;

/* Fonts */

// Font colors
$h1-h2-color: #333b46;
$h3-p-color: #81868e;

$a-color: #333b46;
$a-color-hover: #81868e;
$a-color-visited: #333b46;

$menu-font-color: #333b46;

// Fonts-family
$h-font-family: 'Roboto', sans-serif;
$p-font-family: 'Open Sans', sans-serif;
$menu-font-family: 'Open Sans', sans-serif;
$button-font-family: 'Roboto', sans-serif;

/* Mixins */

//Breakpoint mixin
@mixin breakpoint($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}


@mixin shadow-filter{
  filter: $shadow-filter-img};
