# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/p4nice.psd
/ishim_city_psd.psd
/ishim_city_psd.jpg
/ishim_city_psd.png
