doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='')
//if IE 8
	html.no-js.lt-ie9(lang='')
// [if gt IE 8] <!
html.no-js(lang='')
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/main.css')
		script(src='js/picturefill.min.js' async)
		script(src='js/vendor/modernizr-2.8.3.min.js')
		
	body.primary-mod
		//if lt IE 8
			p.browserupgrade
				| You are using an
				strong outdated
				|  browser. Please
				a(href='http://browsehappy.com/') upgrade your browser
				|  to improve your experience.

		header.flex.b-header
			.flex.nav-wrap
				a.flex(href="#"): img.logo(src="images/logo.png", alt="")
				nav.flex.menu
					li.menu__item
						a.menu__link(href="#") Home
					li.menu__item
						a.menu__link(href="#") About
					li.menu__item
						a.menu__link(href="#") Service
					li.menu__item
						a.menu__link(href="#") Portfolio
					li.menu__item
						a.menu__link(href="#") Team
					li.menu__item
						a.menu__link(href="#") Blog
					li.menu__item
						a.menu__link(href="#") Contact

			.tagline
				h1.tagline__up ГОЛАКТЕКО ОПАСНОСТЕ!
				p.tagline__bot Я идиот! Убейте меня, кто-нибудь!
			.headphones
				img.headphones__img( src="images/headphones.png", alt="")
			.glasses
				img.glasses__img(src="images/glasses.png", alt="")
			.pencils
				img.pencils__img(src="images/pencils.png", alt="")
			.mouse
				img.mouse__img(src="images/mouse.png", alt="")
			.pen-holder
				img.pen-holder__img(src="images/pen-holder.png", alt="")
			.glass
				img.glass__img(src="images/glass.png", alt="")
			.cork-coaster
				img.cork-coaster__img(src="images/cork-coaster.png", alt="")
			.icon-mouse
				img.icon-mouse__img(src="images/icon-mouse.png", alt="")
				span.icon-mouse__text scroll down

		main.flex.main-a
			article.flex.content-top
				section.graxpo
					h2.graxpo__h ABOUT GRAXPO
					p.graxpo__text In gnissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
					//- button.graxpo__button LEARN MORE !
				.template
					img.template__img(src="images/template.png", alt="")

			article.flex.content-bot
				section.what-we
					h2.what-we__h WHAT WE DO
					p.what-we__text
						| Lorem Ipsum is simply dummy text of the printing and typesetting industry
						|  been the industry's standard dummy text
				section.box.design
					.design__icon
					h3.design__h UI / UX DESIGN
					p.design__text Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy
				section.box.branding
					.branding__icon
					h3.branding__h BRANDING & IDENTY
					p.branding__text Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy
				section.box.app
					.app__icon
					h3.app__h APP DESIGN
					p.app__text Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy
				section.box.print
					.print__icon
					h3.print__h PRINT DESIGN
					p.print__text Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy

		footer
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
		script(src='js/main.js')
