$max-width: rem(1280px)!global;
$em-base: 14px;

//Main grid

.container {
  @include outer-container();
}

.main-container {
  @include span-columns(8);
  margin-left: em(55px);
  padding-right: -40px;
}

.aside-container {
  @include span-columns(3);
}

.footer-container {
  @include span-columns(12);
  margin-left: em(55px);
  @include omega();
}


