// Top heading, logo

.top-container {
  position: relative;
}

.top-header {
  padding-top: 0px;
  line-height: 0;
  margin: 0.4em;
}

.logo {
  float: left;
  padding-right: em(18px);
}

.social-icons {
  float: right;
  position: absolute;
  right: 0px;
  top: 66px;
  a {
  margin-right: em(20px);}
}

// Navigation

.top-wrap {
  max-width: em(356px);
  margin-left: em(405px);
  text-align: center;
  padding-top: em(40px);
  padding-bottom: em(21px);
}

.nav-wrap {
  padding-top: em(26px);
  padding-bottom: em(73px);
  ul li {
    float: left;
    margin-right: rem(39px);}
}

.personal-items {
  ul li {
    margin-right: em(21.5px);
    float: right;}
}
