html
head
  meta(charset="UTF-8")
  title Document
  link(rel='stylesheet', href='css/styles.css')
  link(rel='stylesheet', href='css/normalize.css')
body
  header
    nav
      ul
        li
          a(href="#")  Новости
        li
          a(href="#")  О городе
        li
          a(href="#")  Карта
        li
          a(href="#")  Предприятия
        li
          a(href="#")  Объявления



