doctype html5
html
  head
    meta(charset="UTF-8")
    title p4nice
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/normalize.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  body.container
    header
      div.top-wrap
        a.logo(href="#")
          img(src="images/Logo.png", alt="Logo")
        h1
          a(href="#") Город Ишим
        p
          a(href="#") электронный журнал

      div.nav-wrap
        nav
          ul
            li
              a(href="#") Новости
            li
              a(href="#") О городе
            li
              a(href="#") Карта
            li
              a(href="#") Предприятия
            li
              a(href="#") Объявления

    main.main-container
      article
        section
          a(href="#")
            img(src="#", alt="")
          h2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio odit hic quae suscipit cum, perspiciatis corporis velit doloremque tenetur alias nam nobis nesciunt, facere sit sunt asperiores tempore quasi, distinctio!
          footer
            a(href="#")
              img(src="#", alt="")
            a(href="#")
              img(src="#", alt="")
      article
        section
          a(href="#")
            img(src="#", alt="")
          h2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium impedit cupiditate optio dolorem veritatis fugit aliquam nemo, porro tenetur, eligendi incidunt quam voluptatem alias molestiae neque illum quisquam ducimus, velit.
          footer
            a(href="#")
              img(src="#", alt="")
            a(href="#")
              img(src="#", alt="")
      article
        section
          a(href="#")
            img(src="#", alt="")
          h2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae necessitatibus nam, facere ducimus pariatur ut modi expedita sit totam nulla soluta et perferendis odio aliquam quod qui numquam aspernatur nostrum.
          footer
            a(href="#")
              img(src="#", alt="")
            a(href="#")
              img(src="#", alt="")
      article
        section
          a(href="#")
            img(src="#", alt="")
          h2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsa sed similique nobis amet autem saepe minima alias nemo dolorem, ab minus pariatur. Autem fugit minus, obcaecati nihil, temporibus neque?
          footer
            a(href="#")
              img(src="#", alt="")
            a(href="#")
              img(src="#", alt="")
      article
        section
          a(href="#")
            img(src="#", alt="")
          h2
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi illo, hic perferendis repellendus distinctio eius ex iure. Quos non nam voluptates culpa, accusantium fugiat ut? Accusantium et, voluptas obcaecati explicabo?
          footer
            a(href="#")
              img(src="#", alt="")
            a(href="#")
              img(src="#", alt="")

    aside.aside-container
      article
        nav
          ul
            li
            li
        section
          ul
            li
              a(href="#")
            li
              a(href="#")
            li
              a(href="#")
            li
              a(href="#")
            li
              a(href="#")

    footer.footer-container
      p 2015 электронный журнал города Ишим
      nav
        ul
          li
          li
          li


