doctype html5
html
  head
    meta(charset="UTF-8")
    title p4nice
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/normalize.css')
  body.container
    header.top-container
      div.top-wrap
        a(href="#"): img.logo(src="images/Logo.png", alt="Logo")
        a(href="#")
          h1.top-header ГОРОД ИШИМ
          p.top-paragraph: i электронный журнал
      div.social-icons
        a(href="#"): i.fa.fa-twitter
        a(href="#"): i.fa.fa-facebook
        a(href="#"): i.fa.fa-instagram

    nav.nav-wrap
      ul
        li: a(href="#") Новости
        li: a(href="#") О городе
        li: a(href="#") Карта
        li: a(href="#") Предприятия
        li: a(href="#") Объявления
        nav.personal-items
          ul
            li: a(href="#") <i class="fa fa-search"></i> Поиск
            li: a.personal-items--border(href="#") <i class="fa fa-user"></i> Войти

    main.main-container
      article.article-container
          a(href="#"): img.article--img(src="images/Layer-2.png", alt="")
          section.article
            h2 В NASA предположили причину исчезновения атмосферы Марса
            p Атмосфера Марса разрушилась под влиянием солнечного ветра, предположили в NASA на основе данных, полученных с космического аппарата MAVEN. Миллиарды лет назад, считают учёные, на Марсе была атмосфера достаточно толстая, чтобы удерживать воду на планете в жидком состоянии. Но из-за...
          footer.article-footer
            a(href="#") <i class="fa fa-calendar-o"></i>24 сентября, 2015
            a(href="#") <i class="fa fa-comment-o"></i>25 комментариев
      article.article-container
          a(href="#"): img.article--img(src="images/Layer-4.png", style="float: left; margin-right: 33px;" alt="")
          section.article
            h2 Робота научили рисовать портреты на холсте
            p Художник Пиндар Ван Арман создал робота под названием bitPaintr, который рисует портреты на холсте с помощью кисти и красок.
          footer.article-footer
            a(href="#") <i class="fa fa-calendar-o"></i>24 сентября, 2015
            a(href="#") <i class="fa fa-comment-o"></i>25 комментариев
      article.article-container
          section.article
            h2 Вышел кинематографический ролик World of Warcraft: Legion
            p На мероприятии BlizzCon показали кинематографический ролик шестого дополнения World of Warcraft: Legion, которое выйдет следующим летом.
          footer.article-footer
            a(href="#") <i class="fa fa-calendar-o"></i>24 сентября, 2015
            a(href="#") <i class="fa fa-comment-o"></i>25 комментариев
      article.article-container
          a(href="#"): img.article--img(src="images/Layer-5.png", alt="")
          section.article
            h2 Почему биткоин снова дорожает
            p Биткоин переживает второе стремительное восхождение в своей истории. Первое произошло два года назад — тогда о криптовалюте и заговорили всерьёз. Начав с отметки в $130, курс биткоина за 1,5 месяца вырос почти до $1200. С тех пор он стабильно шёл вниз, пусть и с перепадами, пока не стабилизировался в начале 2015 года на уровне $200–250. Теперь же всего за месяц курс биткоина вырос на 70% и приблизился к отметке $500, что ещё несколько недель назад казалось маловероятным.
          footer.article-footer
            a(href="#") <i class="fa fa-calendar-o"></i>24 сентября, 2015
            a(href="#") <i class="fa fa-comment-o"></i>25 комментариев
      a(href="#"): img.article--img(src="images/img.png", alt="")
      article.article-container
          section.article
            h2 16 кинопостеров «оживили» сценами из фильмов
            p Режиссёр из Лос-Анджелеса Пабло Фернандес Эйр (Pablo Fernández Eyre) добавил на постеры для 16 фильмов сцены из них. На большинстве работ показана именно та сцена, кадр из которой использовался в настоящем постере фильма.
          footer.article-footer
            a(href="#") <i class="fa fa-calendar-o"></i>24 сентября, 2015
            a(href="#") <i class="fa fa-comment-o"></i>25 комментариев

      nav.pages-container
        ul
          li: a(href="#") 1
          li: a(href="#") 2
          li: a(href="#") 3
          li: a(href="#") 4
          li: a(href="#") 5
          li: a(href="#") 6
          li: a(href="#") ...
          li: a(href="#") 23
          li: a(href="#") >

    aside.aside-container
      article.aside-article
        nav.aside-nav
          ul
            li: a(href="#") Популярное
            li: a(href="#") Обсуждаемое
        section
          a(href="#")
            span Вышел первый трейлер сиквела «Дня независимости»
          a(href="#")
            span Samsung начнёт разработку машины на автопилоте
          a(href="#")
            span В доме возможного создателя Bitcoin прошли обыски
          a(href="#")
            span Microsoft готовит первые расширения для Edge
          a(href="#")
            span YouTube назвал самые популярные видео года

    aside.aside-container
      article.aside-nav
        nav: a(href="#") Фотогалерея
        section.photos
          a(href="#")
            img(src="images/1.png", alt="")
          a(href="#")
            img(src="images/2.png", alt="")
          a(href="#")
            img(src="images/3.png", alt="")
          a(href="#")
            img(src="images/4.png", alt="")
          a(href="#")
            img(src="images/5.png", alt="")
          a(href="#")
            img(src="images/6.png", alt="")
          a(href="#")
            img(src="images/7.png", alt="")
          a(href="#")
            img(src="images/8.png", alt="")
          a(href="#")
            img(src="images/9.png", alt="")
        a(href="#") ещё 234 фото

    footer.footer-container
      p 2015 электронный журнал города Ишим
      nav.feedback
        ul
          li: a(href="#") Реклама
          li: a(href="#") Соц. Сети
          li: a(href="#") Обратная связь


