$max-width: rem(1280px)!global;
$em-base: 14px;

//Main grid

.container {
  @include outer-container();
}

.main-container {
  @include span-columns(8);
}

.aside-container {
  @include span-columns(3);
}

.footer-container {
  @include span-columns(12);
  @include omega();
}

// Top heading, logo, navigation

.top-header {
  padding-top: 0px;
  line-height: 0;
}

.top-paragraph {
  font-size: 24px;
  line-height: 0.5em;
}

.logo {
  float: left;
  padding-right: em(18px);
}

.top-wrap {
  max-width: em(356px);
  margin-left: em(405px);
  margin-right: em(513px);
  text-align: center;
  padding-top: em(44px);
  padding-bottom: em(44px);
}

.nav-wrap {
  @include span-columns(8);
  ul li {
    display: inline-block;
    margin-right: rem(39px);}
    color: #000;
}
