$max-width: rem(1280) !global;
$em-base: 14px;

//Main grid

.container {
  @include outer-container();
}

.main-container {
  @include span-columns(8);
}

.aside-container {
  @include span-columns(3);
}

.footer-container {
  @include span-columns(12);
  @include omega();
}

// Top heading, logo, navigation

.top-header {
  line-height: 0;
}

.top-paragraph {
  font-size: 24px;
}

.logo {
  float: left;
}

.top-wrap {
  @include outer-container(rem(363px));
  text-align: center;
  padding-top: rem(44px);
  padding-bottom: rem(44px);
}

.nav-wrap {
  @include span-columns(8);
  ul li {
    display: inline-block;
    margin-right: rem(39px);}
    color: #000;
}
