.top-paragraph {
  font-size: 24px;
  padding-top: 0.6em;
}

.nav-wrap {
  border-top: 1px solid #dddddd;
  ul li {
    font-family: $header-font;
    text-transform: uppercase;}
  a:hover {
      border-bottom: 1px solid #dddddd;
  }
}

.personal-items--border {
  border-right: 1px solid #dddddd;
  padding: em(14px) em(21.5px);
}

.article-container {
  border: 1px solid #dddddd;
}

.aside-container {
  border: 1px solid #dddddd;
}

.fa-calendar-o, .fa-comment-o {
  margin-right: em(12px);
}
