.top-paragraph {
  font-size: 24px;
  padding-top: 0.6em;
}

.nav-wrap {
  border-top: 1px solid #dddddd;
  ul li {
    font-family: $header-font;
    text-transform: uppercase;}
  a:hover {
    border-bottom: 1px solid #dddddd;
  }
}

.personal-items--border {
  border-right: 1px solid #dddddd;
}

.article-container {
  border: 1px solid #dddddd;
  max-width: 100%;
}

.article--img {
  max-width: 100%;
}

.fa-calendar-o, .fa-comment-o {
  margin-right: em(12px);
}

.pages-container {
  font-family: $header-font;
  a:hover {
    color: #dddddd;
  }
}

.article-footer {
  font-style: italic;
  a {
    color: #696969;
    &:hover {
      color: #696969;}}}

.footer-container {
  border-top: 1px solid #dddddd;
  .feedback {
    font-family: $header-font;
    text-transform: uppercase;
    ul li {
      margin-right: em(38px);
      &:last-child {
        margin-right: 0;}
    a:hover {
      border-bottom: 1px solid #dddddd;}
    }
  }
}

.aside-container {
  border: 1px solid #dddddd;
  font-size: 18px;
  .aside-nav {
    font-family: $header-font;
    nav {
      padding-bottom: 10px;
    }
    a:hover {
      color: #ddd;
    }
  }
  a {
    margin-bottom: 17px;
    display: inline-block;
    span {
    display: inline;
    border-bottom: 1px solid #dddddd;
    font-size: 15px;
    font-family: 'Proxima Nova Semibold', sans-serif;}
  }
  .photos {
    margin-right: -30px;
    a {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
}

